<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <main class="container">
      <div class="mask__input__box">
        <span></span>
        <input class="mask cep" type="search" />
      </div>
      <div class="mask__input__box">
        <span></span>
        <input class="mask date" type="search" />
      </div>
    </main>
    <script src="../js/mask.js"></script>
  </body>
</html>
